#scene-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: center center;
  transition: transform 0.3s ease;
}

.section1 {
  position: fixed;
  height: 102vh;
}

.section2 {
  position: fixed;
  height: 120vh;
}
