body {
  overflow-x: hidden;

}

#landing-intro,
#services-wrapper,
span,
p,
a,
h1,
h2,
h3,
h4,
h5,

h6 {
  position: relative !important;
  z-index: 10 !important;
}

#scene {
  position: fixed;
  top: 0;
  left: 0;

  transform-origin: center center;
  transition: transform 0.3s ease;
  bottom: 40%;
  z-index: 1 !important;
}


.section1 {
  position: fixed;
  height: 102vh;
}

.section2 {
  position: fixed;
  height: 120vh;
}