/* #scene-container {
  width: 100%;
  height: 500%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
} */

#scene-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: center center;
  transition: transform 0.3s ease; /* Adjust the duration and easing as needed */
}
